# Ignore Python compiled files
__pycache__/
*.py[cod]
*.so

# Ignore environment variables and secrets
.env
*.env
venv/
env/
*.sqlite3
*.log

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.iml

# Ignore Django migrations compiled files
**/migrations/**/__pycache__/
**/migrations/*.pyc

# Ignore database files
db.sqlite3
*.db

# Ignore Django cache and temp files
*.swp
*.swo
*.pid
*.log
*.bak
*.tmp
*.~*